@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.category-container{
    margin:20px 0px 10px 0px;
}

.category-container .category-title{
    text-align: center;
    padding:25px 0px;
    text-transform: capitalize;
    font-family:sans-serif;
    font-size: 30px;
    color:#545454;
}

@media (max-width:600px){
    .category-container .category-title{
        font-size: 20px;
    }
}
@media (max-width:400px){
    .category-container .category-title{
        font-size: 17px;
    }
}


.category-container .category-title hr {
    margin:10px 0px;
}

.category-banner-container{
    padding:5vh 15vw;
}

.banner-box{
    display:flex;
}

.banner-box .left-banner{
    width:50%;
    padding:50px;
    background-color:#f9f9f9;
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px;
}

.banner-box .left-banner h2,h3{
    color:#545454;
    font-size: 35px;
    font-family:sans-serif;
    text-transform: capitalize;
    margin: 5px 0px;
}

.banner-box .left-banner h3{
    margin:0px 0px 30px 0px;
    color:red;
}

.left-banner .banner-detail-box{
    display:flex;
    background-color: #fff;
    border-radius:10px;
}

.banner-detail-box .delivery-ship-returns{
    display:flex;
    padding-left:10px;
    margin:7px 0px;
}

.banner-detail-box .delivery-ship-returns:not(:first-child){
    border-left:1px solid #cccccc;
}

.delivery-ship-returns i{
    font-size: 20px;
    border-radius:50%;
    padding:0px 5px;
    color:#383838;
    /* background-color:rgb(152, 223, 255); */
    display:flex;
    align-items: center;
}

.delivery-ship-returns p{
    font-size: 17px;
    color:#545454;
    font-family: sans-serif;
    text-transform: capitalize;
    margin-left:15px;
}


.banner-box .right-banner{
    width:50%;
    height:350px;
}

.banner-box .right-banner img{
    height:100%;
    width:100%;
    object-fit:cover;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px;
}




/* changes style for best selling products starts here */

.best-selling-products{
    padding:0 5vw;
}

.best-selling-products .section-heading{
    text-transform: capitalize;
    font-family:sans-serif;
    font-size: 30px;
    color:#545454;
    text-align: center;
    padding-bottom:20px;
}

.best-selling-products .product-cards{
    /* display:grid;
    grid-template-columns: repeat(4, 1fr); */

    display:flex;
    align-items: center;
    justify-content:space-around;
    flex-wrap:wrap;
    row-gap: 20px;
}

/* @media (max-width:1250px){
    .best-selling-products .product-cards{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
    }
} */


/* changes style for best selling products ends here */