@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: whitesmoke;
}

.loader{
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:100px;
    z-index:1;
    display:none;
}
.no-products-img{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display: none;
}

.add-products-container{
    /* border:1px solid red; */
    padding:40px 10vw;
}

.add-product-box{
    border:1px solid #ccc;
    background-color: #fff;
    display:flex;
    align-items: center;
    justify-content: space-between;
    height:80px;
    border-radius: 10px;
    padding:40px;
}
.add-product-box .greetings{
    color:#383838;
    font-size: 22px;
    text-transform: capitalize;
}

.add-product-box .add-product-btn{
    padding:12px 15px;
    color:white;
    background-color: #d5be8b;
    border:1px solid #d5be8b;
    font-size: 18px;
    text-transform: capitalize;
    text-decoration: none;
    border-radius: 5px;
    cursor:pointer;
    font-weight: 600;
    transition: .2s;
}
.add-product-box .add-product-btn:hover{
    color:black;
    background-color: transparent;
    border:1px solid #d5be8b;
}

.added-product-section{
    padding:50px 10vw;
}
.added-product-section .added-product-container{
    display:flex;
    justify-content:flex-start;
    gap:40px;
    flex-wrap:wrap;
}
.A-card{
    position:relative;
}

.A-card .btns{
    display:flex;
    flex-direction: column;
    gap:20px;
    position:absolute;
    top:20px;
    right:20px;
    width:fit-content;
    z-index: 1;
    opacity: 0;
}
.A-card .btns .both-btns{
    width:30px;
    height:30px;
    border-radius: 50%;
    cursor:pointer;
    border:none;
    background-color: #fff;
    color:#d5be8b;
    border: 1px solid #d5be8b;
}

.A-card:hover .btns{
    opacity: 1;
}